.root1 {
  min-width: 325px !important;
  margin: 20px 10px;
}
.card-slider::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.card-slider {
  width: 90%;
  margin: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
