@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Ubuntu:wght@700&display=swap');

.pastevents-header{
 font-weight: 800;
 color: #264653;
 font-size: 42px;
}

.pastevent-header{
    font-weight: 600;
 color: #264653;
 font-size: 42px;
}

.pastevent-text{
    font-weight: 400;
    color: #374151;
}